Django==1.11.1
argparse==1.2.1
cycler==0.10.0
djangorestframework==3.6.2
functools32==3.2.3.post2
gearman==2.0.2
matplotlib==2.0.2
numpy==1.12.1
pandas==0.19.2
pymongo==3.4.0
pyparsing==2.2.0
python-dateutil==2.6.0
python-memcached==1.58
pytz==2017.2
scikit-learn==0.18.1
scipy==0.19.0
six==1.10.0
sklearn==0.0
subprocess32==3.2.7
wsgiref==0.1.2
